.navbar-brands {
    color: #fff;
    text-decoration: none;
}

@media(min-width: 960px) {
    #games img, #movie img {
        width: 100%;
    }

    #games .col-md-4 .well {
        height: 490px;
    }

    #games .col-md-4 img {
        height: 348px;
    }
}